<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



<div class="container text-center">

    <h1>Password Generator</h1> 
    <a class="btn btn-primary mt-3" href="{% url 'home' %}">HOMPAGE</a>
    <a class="btn btn-primary mt-3" href="{% url 'about' %}">ABOUT</a><br>
    <br><br>
    <form action="{% url 'pwd' %}">

        <select name="length">
            <option value="6">6 Chars</option>
            <option value="8" selected>8 Chars</option>
            <option value="10">10 Chars</option>
        </select> Length
        
        <br>
        <input type="checkbox" name="up">
        Uppercase

        <br>
        <input type="checkbox" name="nm">
        Numbers

        <br>
        <input type="checkbox" name="spc">
        Special CHs.

        <br><br>
        <input class="btn btn-primary" type="submit" value="Generate PWD"><br>

    </form>
</div>